.pagination {
    display: flex;
    justify-content: space-between;
    margin-bottom: 58px;
    &__list {
        display: flex;
    }
    &__link {
        font-family: "Montserrat", "Arial Narrow", sans-serif;
        font-weight: bold;
        margin-right: 64px;
        &:hover {
        opacity: 0.5;
        } 
    }
    &__link_active {
        color: $sun-tree;
        margin-right: 67px;
        margin-left: 457px;
    }
    &__link_last {
        margin-right: 457px;
    }
    &__slider_left,&__slider_right {
        width: 13px;
        height: 26px;
        border: none;
        background: none;
        &:hover {
        color: $sun-tree;
        }
    }
}