.pagination {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
    @media (max-width: 425px) {
        padding: 0;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        width: 234px;
        @media (max-width: 425px) {
            width: 188px;
        }
    }
    &__link {
        @include font-size(16px,19px,bold);
        font-family: "Montserrat", "Arial Narrow", sans-serif;
        transition: opacity $transition;
        @media (max-width: 425px) {
            @include font-size(14px,17px,bold);
        }
        &:hover {
        opacity: 0.5;
        } 
    }
    &__link_active {
        color: $sun-tree;
    }
    &__slider {
        width: 13px;
        height: 26px;
        border: none;
        transition: stroke $transition;
        &:hover {
        stroke: $sun-tree;
        }
        &:active {
            stroke: $button-active;
        }
    }
}