<div class="pages_slider container">
    <a class="slider_left" href="#"><img src="../../static/images/button/buttongrayleft.svg" alt="left" width="13" height="26"></a>
    <div class="slider_list">
        <a class="slider_link slider_active_link" href="#">1</a>
        <a class="slider_link" href="#">2</a>
        <a class="slider_link" href="#">3</a>
        <a class="slider_link last" href="#">4</a>
    </div>
    <a class="slider_right" href="#"><img src="../../static/images/button/buttongrayright.svg" alt="right" width="13" height="26"></a>
</div>