<div class="pagination container">
    <a class="pagination__slider_left" href="#"><img src="../../static/images/button/buttongrayleft.svg" alt="left" width="13" height="26"></a>
    <div class="pagination__list">
        <a class="pagination__link pagination__link_active" href="#">1</a>
        <a class="pagination__link" href="#">2</a>
        <a class="pagination__link" href="#">3</a>
        <a class="pagination__link" href="#">4</a>
    </div>
    <a class="pagination__slider_right" href="#"><img src="../../static/images/button/buttongrayright.svg" alt="right" width="13" height="26"></a>
</div>