<li class="catalog__item">
    <a href="@@href">
        <picture class="catalog__img">
            <source srcset="@@img-mobile, @@img-mobile-2x 2x" media="(max-width: 425px)">
            <source srcset="@@img-tablet, @@img-tablet-2x 2x" media="(max-width: 1024px)">
            <source srcset="@@img, @@img-2x 2x">
            <img src="@@img" alt="@@alt">
        </picture>
        <div class="learn-more">
            <p class="learn-more__text">@@text</p>
        </div>
        <p class="catalog__link" href="@@href">@@title</p>
    </a>    
    <p class="catalog__price">@@price</p>
</li>