.button {
    @include font-size(16px,22px,bold);
    text-transform: uppercase;
    height: 40px;
    padding: 9px 22px;
    border: none;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: $white;
    background: $button;
    transition: background-color $transition;
    &:hover {
        background: $button-hover;
    }
    &:active {
        background: $button-active;
    }
    &:disabled {
        background: $button-disabled;
    }
    @media (min-width: 375px) and (max-width: 767px) {
        @include font-size(14px,19px,bold);
    }
}
