@import "../../components/_mixins";
@import "../../components/_vars";

/* Banner */

.slider {
    display: flex;
    flex-direction: column;
    margin-top: 17px;
    margin-left: 28px;
    margin-right: 44px;
    @media (min-width: 1068px) and (max-width: 1279px) {
        margin-left: 18px;
    }
    @media (min-width: 768px) and (max-width: 1067px) {
        margin-left: 0;
        margin-right: 11px;
    }
    &__number {
        @include font-size(60px,73px,300);
        font-family: "Montserrat", "Arial Narrow", sans-serif;
        font-style: normal;
        margin: 0;
        margin-bottom: 10px;
        border: none;
        color: #E3D8D0;
        @media (min-width: 768px) and (max-width: 1067px) {
            @include font-size(48px,59px,300);
        }
        @media (min-width: 375px) and (max-width: 767px) {
            @include font-size(48px,59px,300);
            position: absolute;
            right: 10px;
        }
    }
    &__button {
        display: flex;
        flex-direction: column;
        margin-left: 2px;
        margin-top: 3px;
        @media (min-width: 375px) and (max-width: 767px) {
            position: absolute;
            top: 74px;
            right: 10px;
        }
        &_active{
            width: 31px;
            height: 3px;
            border: none;
            background: #725F5B;
            cursor: pointer;
        }
        &_passive{
            width: 31px;
            height: 3px;  
            margin-top: 11px;
            border: none;
            background: #D6CAC2;
            cursor: pointer;
            transition: background-color $transition;
            &:hover {
                background: #725F5B;
              }
        }
    }
}

.mobile {
    &__wrapper {
        @media (min-width: 375px) and (max-width: 767px) {
            max-width: 648px;
            width: 100%;
        }
    }
}
.banner {
    display: flex;
    position: relative;
    background: #EEE4DB;    
    margin-top: 129px;
    margin-bottom: 90px;
    @media (min-width: 1068px) and (max-width: 1279px) {
        margin-top: 50px;
    }
    @media (min-width: 375px) and (max-width: 767px) {
        width: 375px;
        margin: 0 auto;
        margin-top: 0;
        margin-bottom: 80px;
    }
    &__section {
        z-index: 1;
        @media (min-width: 768px) and (max-width: 1067px) {
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 82px;
        }
        @media (min-width: 375px) and (max-width: 767px) {
            margin-left: -55px;
            margin-bottom: 188px;
        }
    }
    &__title {
        width: 53%;
        margin-top: 92px;
        margin-bottom: 20px;
        @media (min-width: 768px) and (max-width: 1067px) {
            width: 60%;
            margin-top: 90px;
            margin-bottom: 20px;
        }
        @media (min-width: 375px) and (max-width: 1067px) {
            width: 100%;
            margin-top: 80px;
        }
    }
    &__text {
        @include font-size(20px,25px,normal);
        font-family: "Crimson Text", "Georgia", serif;
        font-style: italic;
        margin-bottom: 20px;
        color: $text-color;
        @media (min-width: 375px) and (max-width: 1067px) {
            @include font-size(18px,22px,normal);
        }
    }
    &__btn {
        margin-bottom: 89px;
        @media (min-width: 768px) and (max-width: 1067px) {
            margin-bottom: 102px;
        }
        @media (min-width: 375px) and (max-width: 1067px) {
            margin-bottom: 50px;
        }
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        color: $white;
        background: $sun-tree;
        position: absolute;
        padding: 11px;
        left: 0px;
        @media (min-width: 768px) and (max-width: 1067px) {
            bottom: 0px;
        }
        @media (min-width: 375px) and (max-width: 767px) {
            max-width: 648px;
            width: 100%;
            bottom: 0px;
        }
    }
    &__logo {
        position: absolute;
        top: -89px;
        right: 100px;
        // @media (min-width: 1280px) {
        //     width: 580px;
        //     height: 470px;
        //     top: -80px;
        //     right: 8px;
        // }
        @media (min-width: 1068px) and (max-width: 1279px) {
            // width: 480px;
            // height: 370px;
            // top: 24px;
            // right: 2px;
            width: 396px;
            height: 298px;
            top: 85px;
            right: 2px;
        }
        @media (min-width: 768px) and (max-width: 1067px) {
            width: 385px;
            height: 286px;
            top: 97px;
            right: 8px;
        }
        @media (min-width: 375px) and (max-width: 767px) {
            width: 292px;
            height: 226px;
            top: 220px;
            right: 0px;
        }
    }
}

/* Category */

.category {
    margin-top: 90px;
    @media (min-width: 375px) and (max-width: 767px) {
        margin-top: 80px;
        max-width: 335px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 80px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        @media (min-width: 375px) and (max-width: 1280px) {
            overflow: hidden;
        }
    }
    &__slide {
        display: flex;
        align-items: center;
        margin-top: 13px;
    }
    &__button {
        width: 37px;
        height: 37px;
        padding: 5px 12px;
        margin-right: 4px;
        border: none;
        background: $blue; 
        &_move{
            width: 13px;
            height: 26px;
            stroke: $text-color;
            transition: opacity $transition;
            &:hover {
                opacity: 0.5;
            }
            &:active {
                opacity: 0.2;
            }
        }  
    }
    &__info {
        padding-left: 20px;
        width: 50%;
        @media (min-width: 1068px) and (max-width: 1279px) {
            width: 75%;
        }
        @media (min-width: 768px) and (max-width: 1067px) {
            padding-left: 17px;
            width: 100%;
            @include font-size(14px,19px,normal);
        }
        @media (min-width: 375px) and (max-width: 767px) {
            @include font-size(14px,19px,normal);
            width: 80%;
        }
        
    }
}

/* Delivery */

.delivery {
    display: flex;
    margin-top: 90px;
    @media (min-width: 768px) and (max-width: 1067px) {
        margin-top: 60px;
    }
    @media (min-width: 375px) and (max-width: 767px) {
        max-width: 335px;
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
        margin-bottom: 83px;
    }
    &__img {
        max-width: 480px;
        width: 100%;
        max-height: 559px;
        background-color: #C7DFEB;
        @media (min-width: 1068px) and (max-width: 1279px) {
            max-width: 365px;
            width: 100%;
            max-height: 538px;
        }
        @media (min-width: 768px) and (max-width: 1067px) {
            max-width: 258px;
            width: 100%;
            max-height: 512px;
        }
        @media (min-width: 375px) and (max-width: 767px) {
            max-width: 335px;
            width: 100%;
            max-height: 357px;
        }
    }
    &__wrapper {
        position: relative;
        margin-left: 120px;
        @media (min-width: 1068px) and (max-width: 1279px) {
            margin-left: 45px;
        }
        @media (min-width: 768px) and (max-width: 1067px) {
            width: 100%;
            margin-left: 56px;
        }
        @media (min-width: 375px) and (max-width: 767px) {
            margin: 0;
        }
    }
    &__title {
        margin-top: 30px;
        margin-bottom: 6px;
        @media (min-width: 768px) and (max-width: 1067px) {
            margin-top: 30px;
            margin-bottom: 6px;
        }
        
    }
    &__list {
        margin-top: 6px;
        margin-bottom: 30px;
        @media (min-width: 768px) and (max-width: 1067px) {
            margin-bottom: 20px; 
        }
    }
    &__item {
        @include font-size(26px,32px,normal);
        font-family: "Crimson Text", "Georgia", serif;
        font-style: italic;
        margin-top: 22px;
        color: $text-color;
        @media (min-width: 768px) and (max-width: 1067px) {
            @include font-size(24px,30px,normal);
            margin-top: 15px;
        }
        @media (min-width: 375px) and (max-width: 767px) {
            @include font-size(24px,30px,normal);
        }
        &_wrapper { 
            margin-top: 17px;
            font-weight: bold;
            @media (min-width: 768px) and (max-width: 1067px) {
                margin-top: 14px;
            }
            &::before {
                content: ' ';
                position: absolute;
                max-width: 326px;
                width: 100%;
                height: 55px;
                top: 80px;
                left: -55px;
                background: $blue;
                z-index: -1;
                @media (min-width: 1068px) and (max-width: 1279px) {
                    left: -15px;
                }
                @media (min-width: 768px) and (max-width: 1067px) {
                    max-width: 267px;
                    width: 71%;
                    height: 45px;
                    top: 80px;
                    left: -10px;
                }
                @media (min-width: 375px) and (max-width: 767px) {
                    width: 267px;
                    height: 45px;
                    left: -20px;
                    top: 66px;
                }
            } 
        }
    }
    &__text {
        max-width: 480px;
        width: 100%;
        margin-bottom: 26px;
        @media (min-width: 768px) and (max-width: 1067px) {
            @include font-size(14px,19px,normal);
            max-width: 314px;
            width: 100%;
            margin-bottom: 20px;
        }
        @media (min-width: 375px) and (max-width: 767px) {
            @include font-size(14px,19px,normal);
        }
    }
}

/* Brands */

.brands {
    margin-top: 91px;
    margin-bottom: 113px;
    @media (min-width: 768px) and (max-width: 1067px) {
        margin-top: 60px;
        margin-bottom: 104px;
    }
    @media (min-width: 375px) and (max-width: 767px) {
        max-width: 335px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 88px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (min-width: 1068px) and (max-width: 1279px) {
            align-items: center;
        }
        @media (min-width: 768px) and (max-width: 1067px) {
            align-items: center;
        }
    }
    &__item {
        max-width: 280px;
        max-height: 70px;
        @media (min-width: 1068px) and (max-width: 1279px) {
            width: 22%;
        }
        @media (min-width: 768px) and (max-width: 1067px) {
            width: 18%;
        }
        @media (min-width: 375px) and (max-width: 767px) {
            width: 44%;
            margin-bottom: 31px;
        }
    }
    &__img {
        width: 100%;
    }
}

/* About Us */

.contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: -3px;
    @media (min-width: 375px) and (max-width: 767px) {
        flex-direction: column;
        margin-bottom: 50px;
        @include font-size(14px,19px,normal);
        width: 375px;
        margin: 0 auto;
    }
}

.about {
    position: relative;
    background-color: $sea;
    padding: 31px 30px 35px 30px;
    margin: 0;
    margin-bottom: 155px;
    margin-right: 57px;
    @media (min-width: 768px) and (max-width: 1067px) {
        margin-right: 20px;
        padding: 31px 15px 35px;
    }
    @media (min-width: 375px) and (max-width: 767px) {
        margin-bottom: 50px;
    }
    &__title {
        position: absolute;
        left: 0px;
        top: -26px;
        margin: 0;
        padding-left: 30px;
        margin-bottom: 10px;
        @media (min-width: 1068px) and (max-width: 1279px) {
            @include font-size(30px,37px,bold) 
            top: -23px;
            padding-left: 28px;
        }
        @media (min-width: 768px) and (max-width: 1067px) {
            @include font-size(30px,37px,bold) 
            top: -18px;
            padding-left: 15px;
        }
        @media (min-width: 375px) and (max-width: 767px) {
            top: -14px;
        }
    }
    &__text {
        font-family: "Crimson Text", "Georgia", serif;
        font-style: italic;
        @include font-size(26px,32px,normal);
        margin: 0;
        margin-bottom: -10px;
        @media (min-width: 375px) and (max-width: 767px) {
            @include font-size(24px,30px,normal) 
        }
    }
    &__button {
        margin-top: 20px;
    }
}

/* Map */

.map {
    position: relative;
    background-color: $sea;
    padding: 31px 30px 35px 30px;
    margin: 0;
    margin-bottom: 175px;
    @media (min-width: 768px) and (max-width: 1067px) {
        padding: 31px 15px 35px;
    }
    &__title {
        position: absolute;
        left: 0px;
        top: -26px;
        margin: 0;
        padding-left: 30px;
        margin-bottom: 20px;
        @media (min-width: 1068px) and (max-width: 1279px) {
            @include font-size(30px,37px,bold) 
            top: -23px;
            padding-left: 28px;
        }
        @media (min-width: 768px) and (max-width: 1067px) {
            @include font-size(30px,37px,bold);
            top: -18px;
            padding-left: 15px;
        }
        @media (min-width: 375px) and (max-width: 767px) {
            top: -14px;
        }
    }
    &__text {
        margin-bottom: 20px;
        margin-top: 10px;
    }
    &__frame {
        position: absolute;
        border: none;
        max-width: 483px;
        width: 100%;
        height: 196px;
        // @media (min-width: 1280px) {
        //     max-width: 410px;
        //     width: 100%;
        // }
        @media (min-width: 1068px) and (max-width: 1279px) {
            max-width: 295px;
            width: 100%;
        }
        @media (min-width: 768px) and (max-width: 1067px) {
            max-width: 284px;
            width: 100%;
            height: 151px;
        }
        @media (min-width: 375px) and (max-width: 767px) {
            max-width: 335px;
            width: 84%;
            height: 196px;
        }
    }
}

/* Popup */

.overlay {
    width: 100%;
    height: 100vh;
    background: #97ACE1;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
    &_open {
        display: block;
    }
}

.popup {
    position: fixed;
    top: 57%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 680px;
    z-index: 2;
    display: none;
    @media (min-width: 768px) and (max-width: 1067px) {
        top: 55%;
        left: 50%;
        width: 648px;
    }
    @media (min-width: 375px) and (max-width: 767px) {
        width: 335px;
    }
    &_open {
        display: block;
    }
    &_close {
        position: absolute;
        background: transparent;
        border: none;
        cursor: pointer;
        right: -32px;
        top: -1px;
        @media (min-width: 768px) and (max-width: 1067px) {
            right: -5px;
            top: -25px;
        }
    }
    .button {
        color: #E1E1E1;
        background: $button-disabled; 
        @media (min-width: 768px) and (max-width: 1067px) {
            color: $white;
            background: $button; 
        }
        @media (min-width: 375px) and (max-width: 767px) {
            color: $white;
            background: $button; 
        }
    }
}