.footer {
    &__star {
        margin-right: 3px;
        cursor: pointer;
        fill: $white;
        transition: fill $transition;
        &:hover {
            fill: $gold;
        }
        &:active {
            fill: $sun-tree;
        }
    }
}

