/* Blog */

.blog_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.blog_item {
    width: 380px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.blog_img:nth-child(2),
.blog_img:nth-child(3),
.blog_img:nth-child(5) {
    background-color: #F2F2F2;
}

.blog_img:nth-child(2),
.blog_img:nth-child(3),
.blog_img:nth-child(5) {
    background-color: #2F389C;
}

.date_of_article {
    font-weight: normal;
    color: #818181;
}

.blog_title {
    font-family: "Montserrat", "Arial Narrow", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #1E0606;
}

.blog_title:hover {
    text-decoration-line: underline;
}

.blog_title:active {
    text-decoration-line: underline;
}

.blog_text {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
}

