@import "../../components/_mixins";
@import "../../components/_vars";

/* Category */

.category {
    margin-top: 60px;
    margin-bottom: 50px;
    display: flex;
        flex-wrap: wrap;
    &__item {
        margin-right: 20px;
        margin-bottom: 23px;
        &:nth-child(4){
            margin-left: 200px;
            @media (min-width: 1068px) and (max-width: 1279px) {
                margin-left: 0px;
            }
            @media (min-width: 768px) and (max-width: 1067px) {
                margin-left: 0px;
            }
            @media (min-width: 375px) and (max-width: 767px) {
                margin-left: 0px;
            }
        }
    }
}

.category {
    margin-top: 50px;
    @media (min-width: 375px) and (max-width: 767px) {
        margin-top: 20px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        @media (min-width: 768px) and (max-width: 1067px) {
            justify-content: space-between;
        }
    }
}
.description {
    margin-left: 200px;
    width: 57%;
    margin-bottom: 40px;
    @media (min-width: 768px) and (max-width: 1067px) {
        margin-left: 0px;
        width: 100%;
        margin-bottom: 50px;
    }
    @media (min-width: 375px) and (max-width: 767px) {
        margin-left: 0px;
        width: 100%;
        margin-bottom: 50px;
    }
    &__title {
        margin: 0;
        margin-bottom: 28px;
    }
    &__text {
        margin: 0;
        padding-bottom: 16px;
    }
}