/* Category */

.category_catalog {
    margin-bottom: 32px;
}

.category_item {
    margin-right: 20px;
    margin-bottom: 23px;
}

.category_title{
    top: 106px;
    left: 42px;
    width:68%;
}

.category_item:nth-child(4){
    margin-left: 200px;
}

.description {
    margin-left: 200px;
    width: 57%;
    margin-bottom: 40px;
}

.description_title {
    margin: 0;
    margin-bottom: 28px;
}

.description_text {
    margin: 0;
    padding-bottom: 16px;
}