
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 40px;
    &__logo {
        transition: opacity $transition;
        &:hover {
        opacity: 0.5;
        }

        &:active {
        opacity: 0.2;
        }
    }

    &__nav {
        width: 100%;
        display: flex;
        justify-content: space-between; 
    }

    &__list {
        display: flex;
        align-items: center;
        margin-left: 59px;
    }

    &__item {
        @include font-size(14px,19px,normal);
        text-transform: uppercase;
        color: $text-color;  
        margin-right: 20px;
        transition: opacity $transition;
        &:hover {
        opacity: 0.5;
        }

        &:active {
        opacity: 0.2;
        }
    }
    
    &__search {
        @include font-size(14px,19px,bold);
        text-transform: uppercase;
        transition: opacity $transition;
        &:hover {
        opacity: 0.5;
        }

        &:active {
        opacity: 0.2;
        }
    }

    &__button {
        border: none;
        background: none;
        padding: 3px;
        margin: 0;
    }

    &__contact {
        margin-left: 23px;
    }
}