/* Header */

.header {
  -webkit-display: flex;
      -moz-display: flex;
          display: flex;
  -webkit-align-items: center;
      -moz-align-items: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
          justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 40px;
}

.logo:hover,
.nav_item:hover,
.search_item:hover {
  opacity: 0.5;
}

.logo:active,
.nav_item:active,
.search_item:active {
  opacity: 0.2;
}

.menu {
  width: 100%;
  -webkit-display: flex;
      -moz-display: flex;
          display: flex;
  -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
          justify-content: space-between;
}

.nav_link {
  -webkit-display: flex;
      -moz-display: flex;
          display: flex;
  -webkit-align-items: center;
      -moz-align-items: center;
          align-items: center;
  margin-left: 59px;
}

.nav_search {
  -webkit-display: flex;
      -moz-display: flex;
          display: flex;
  -webkit-align-items: center;
      -moz-align-items: center;
          align-items: center;
  margin-right: 2px;
}

.nav_item {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #1E0606;  
  margin-right: 20px;  
}

.button_search {
  border: none;
  background: none;
  padding: 3px;
}

.header .header_contact {
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 23px;
}