<header class="header container">
    <a class="header__logo" href="/"><img src="../../static/images/logo/mainlogo.svg" alt="logo" width="100" height="52"></a>
    <nav class="header__nav">
        <ul class="header__list dots_none">
            <li class="header__item"><a href="../../pages/catalog/index.html">Catalog</a></li>
            <li class="header__item"><a href="#">About Us</a></li>
            <li class="header__item"><a href="../../pages/blog/index.html">Blog</a></li>
            <li class="header__item"><a href="../../pages/animation/index.html">Animation</a></li>
        </ul>
        <ul class="header__list dots_none">
            <li class="header__search"><button class="header__button" type="submit"><img src="../../static/images/button/btn-search.svg" alt="search" width="17" height="17"></button></li>
            <li class="header__search"><a class="header__contact" href="../../pages/contacts/index.html">Contact Us</a></li>
        </ul>            
    </nav>
</header>