<header class="header container">
    <a class="logo" href="/"><img src="../../static/images/logo/mainlogo.svg" alt="logo" width="100" height="52"></a>
    <nav class="menu">
        <ul class="nav_link dots_none">
            <li class="nav_item"><a href="../../pages/blog/index.html">Blog</a></li>
            <li class="nav_item"><a href="../../pages/catalog/index.html">Catalog</a></li>
            <li class="nav_item"><a href="#">About Us</a></li>
        </ul>
        <ul class="nav_search dots_none">
            <li class="search_item"><button class="button_search" type="submit"><img src="../../static/images/button/btn-search.svg" alt="search" width="17" height="17"></button></li>
            <li class="search_item"><a class="header_contact" href="../../pages/contacts/index.html">Contact Us</a></li>
        </ul>            
    </nav>
</header>