$text-color: #1E0606;

$button: #000000;
$button-hover: #C29974;
$button-active: #CFAF91;
$button-disabled: #C1C1C1;

$sun-tree: #C29974;
$gold: #836E5B;
$white: #ffffff;
$blue: #E2F1F8;
$sea: #E1F0F7;
$deep-smoke: #666666;
$dark-gray: #434343;
$dark-smoke: #AAAAAA;
$light-sky-blue: #E5EAF8;

