@import "./vars";
@import "./mixins";

* {
    box-sizing: border-box;     
}

body {
    font-family: 'Open Sans', "Arial", sans-serif;
    @include font-size;
    color: $text-color;
    margin: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: $text-color;
}

h1, h2, h3 {
    font-family: "Montserrat", "Arial Narrow", sans-serif;
    text-transform: uppercase;
    color: $text-color;
}

h1 {
    @include font-size(40px,44px,bold);
    @media (max-width: 767px) {
        @include font-size(36px,40px,bold);    
    }
}

h2 {
    @include font-size(38px,46px,bold);
    @media (max-width: 1200px) {
        @include font-size(36px,44px,bold); 
    }
    @media (max-width: 767px) {
        @include font-size(24px,29px,bold);    
    }
}

h3 {
    @include font-size(26px,32px,bold);
    @media (max-width: 1200px) {
        @include font-size(24px,29px,bold); 
    }
    @media (max-width: 767px) {
        @include font-size(18px,22px,bold);    
    }
}

.hidden {
    font-size: 0;
    height: 0; 
}

.dots_none {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1210px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    @media (max-width: 768px) {
      max-width: 678px;
    }   
}


.title {
    margin-top: 60px;
    margin-bottom: 15px;
}


// подключение компонентов

@import "./header/header";
@import "./footer/footer";
@import "./popup/popup";
@import "./pagination/pagination";
@import "./button/button";
@import "./category/category";
@import "./catalog/catalog";
@import "./blog/blog";
@import "./breadcrumb/breadcrumb";
@import "./star/star";











