.footer {
    background: $dark-gray;
    margin: 0 auto;
    &__main {
        display: flex;
        justify-content: space-between;
        margin-bottom: 13px;
    }
    &__title {
        color: $dark-smoke;
        margin-top: 100px;
        margin-bottom: 23px;
    }
    &__item {
        margin-bottom: 15px;
    }
    &__link {
        color: $white;
        transition: opacity $transition;
        &:hover {
            opacity: 0.5;
        }
        &:active {
            opacity: 0.2;
        }
    }
    &__nav {
        &:before {
            content: '';
            display: block;
            height: 1px;
            background-color: $deep-smoke;
            width: 380px;
            margin-bottom: 28px;
        }
    }
    &__subscribe {
        display: flex;
        width: 380px;
        height: 40px;
        background: $deep-smoke;
        margin-bottom: 25px;
    }
    &__mail {
        font-size: 16px;
        line-height: 22px;
        color: #EBEBEB;
        width: 300px;
        height: 40px;
        background-color: $deep-smoke;
        padding: 0 0 0 15px;
        border: 1px solid $deep-smoke;
        transition: border $transition;
        &:hover{
            border: 1px solid #FFFDFD;
            border-right: none;
        }
        &:focus{
            border: 1px solid #FFFDFD;
            border-right: none;
        }
        &::placeholder {
            color: #EBEBEB;
        }
    }
    &__bottom {
        padding-bottom: 100px;
        color: $white;
        &:before {
            content: '';
            display: block;
            height: 1px;
            background-color: $deep-smoke;
            width: 1180px;
            margin-bottom: 23px;
        }
    }
    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__text {
        margin: 0;
        margin-right: 25px;
        transition: color $transition;
        &:hover {
            color: $sun-tree;
        }
        &:active {
            color: $sun-tree;
        }
    }
    &__rating {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 155px;
    }
    &__star {
        margin-right: 3px;
        width: 17px;
        height: 16px;
        cursor: pointer;
        fill: $white;
        transition: fill $transition;
        &:hover {
            fill: $gold;
        }
        &:active {
            fill: $sun-tree;
        }
    }
    &__license {
        margin: 0;
        margin-right: 109px;
    }
    &__production {
        color: #A2A2A2;
        margin: 0;
        transition: color $transition;
        &:hover {
            text-decoration-line: underline;
            color: $white;
        }
        &:active {
            text-decoration-line: underline;
            color: $white;
        }
    }
}

.social {
    display: flex;
    &__item {
        margin-right: 10px;
        transition: opacity $transition;
        &:hover {
            opacity: 0.5;
        }
        &:active {
            opacity: 0.2;
        }
    }
}