<footer class="footer">
    <div class="footer__main container">
        <div class="footer__main_wrapper">
            <p class="footer__title wrapper__navigation">Navigation</p>
                <ul class="footer__nav dots_none">
                    <li class="footer__item"><a class="footer__link" href="#">About Us</a></li>
                    <li class="footer__item"><a class="footer__link" href="../../pages/blog/index.html">Blog</a></li>
                    <li class="footer__item"><a class="footer__link" href="#">Design Services</a></li>
                    <li class="footer__item"><a class="footer__link" href="#">Featured On</a></li>
                    <li class="footer__item"><a class="footer__link" href="../../pages/catalog/index.html">2018 Holiday Catalog</a></li>
                    <li class="footer__item"><a class="footer__link" href="#">Shop By Designer</a></li>
                </ul>
        </div> 
        <div class="footer__main_wrapper">
            <p class="footer__title wrapper__information">Customer Information</p>
            <ul class="footer__nav dots_none">
                <li class="footer__item"><a class="footer__link" href="../../pages/contacts/index.html">Contact Us</a></li>
                <li class="footer__item"><a class="footer__link" href="#">Sale Exclusions</a></li>
                <li class="footer__item"><a class="footer__link" href="#">Shipping & Returns</a></li>
                <li class="footer__item"><a class="footer__link" href="#">Terms & Conditions</a></li>
                <li class="footer__item"><a class="footer__link" href="#">Privacy Policy</a></li>
                <li class="footer__item"><a class="footer__link" href="#">Search</a></li>
            </ul>
        </div>        
        <div class="footer__main_wrapper">
            <p class="footer__title wrapper__connect">Connect</p>
            <div>
                <div class="footer__nav">
                    <form action="#" method="POST" class="footer__subscribe">
                        <label for="subscribe_email"></label>
                        <input id="subscribe_email" type="email" name="user_email" placeholder="Email" class="footer__mail">
                        @@include('button/index.html', {
                            "text":"Join",
                            "type":"submit"
                        })
                    </form>                
                </div>
                <div>
                    <ul class="social dots_none">
                        <li class="social__item"><a href="#"><img src="../../static/images/logo/facebook.svg" alt="facebook" width="30" height="30"></a></li>
                        <li class="social__item"><a href="#"><img src="../../static/images/logo/twitter.svg" alt="twitter" width="30" height="30"></a></li>
                        <li class="social__item"><a href="#"><img src="../../static/images/logo/pinterest.svg" alt="pinterest" width="30" height="30"></a></li>
                        <li class="social__item"><a href="#"><img src="../../static/images/logo/instagram.svg" alt="instagram" width="30" height="30"></a></li>
                    </ul>
                </div>
            </div>                
        </div> 
    </div>
    <div class="footer__bottom container">
        <div class="footer__wrapper">
            <div class="footer__company-rating">
                <p class="footer__text">Company Rating</p>
                <div class="footer__rating">
                    <input class="footer__rating_input" type="radio" name="star" id="star-1" value="1">
                    <label class="footer__rating_label" for="star-1" aria-label="one star"></label>
                    <input class="footer__rating_input" type="radio" name="star" id="star-2" value="2">
                    <label class="footer__rating_label" for="star-2" aria-label="two star"></label>
                    <input class="footer__rating_input" type="radio" name="star" id="star-3" value="3">
                    <label class="footer__rating_label" for="star-3" aria-label="three star"></label>
                    <input class="footer__rating_input" type="radio" name="star" id="star-4" value="4">
                    <label class="footer__rating_label" for="star-4" aria-label="four star"></label>
                    <input class="footer__rating_input" type="radio" name="star" id="star-5" value="5">
                    <label class="footer__rating_label" for="star-5" aria-label="five star"></label>
                </div> 
            </div>
            <div class="footer__info">
                <p class="footer__license">Copyright © 2018 Dlk • Design Life Kids</p>
                <a class="footer__production" href="#">Web Design — Direct Line Development</a>
            </div>
        </div>
    </div>        
</footer>