/* Sidebar */

legend {
    font-weight: bold;
}

input {
    height: 22px;
}

.sidebar {
    background: #E5EAF8;
    margin-bottom: 60px;
}

.sidebar_form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 42px;
    padding-bottom: 42px;
}

.form_list {
    display: flex;
    flex-direction: column;
}

.form_item {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

/* Cost */

.cost {
    border: none;
}

.sidebar_cost_wrapper {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 23px;
}

.cost_slide_number {
    display: flex;
    justify-content: space-between;
}

.sidebar_input_cost {
    width: 188px;
    height: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: none;
    background: transparent;
    
}

.sidebar_input_cost::-webkit-slider-runnable-track {
    height: 4px;
    background: #72757C;
}

.sidebar_input_cost::-webkit-slider-thumb {
    background: #C29974;
    border-radius: 50px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: -10px;
    
}

.sidebar_input_cost::-moz-range-track {
    height: 4px;
    background: #72757C;
}

.sidebar_input_cost::-moz-range-thumb {
    background: #C29974;
    border-radius: 50px;
    cursor: pointer;
    width: 24px;
    height: 24px; 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: -10px;
}

/* Color */

.color {
    padding-left: 12px;
}

.sidebar_input_check {
    display: none;
}

.sidebar_label_check {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
}

.sidebar_label_check:before,
.sidebar_label_check:after {
    content: '';
    position: absolute;
    display: block;
}


.sidebar_label_check:before {
    top: 0px;
    left: 0;
    border: 2px solid #C29974;
    border-radius: 3px;
    width: 16px;
    height: 16px;
}

.sidebar_label_check:after {
    top: 0px;
    left: 4px;
    width: 15px;
    height: 15px;
    background: url(../images/Stroke_active.svg);
    opacity: 0;
}

.sidebar_input_check:checked + .sidebar_label_check:after, 
.sidebar_label_check:before {
    opacity: 1;
}

.sidebar_label_check:hover {
    text-decoration-line: underline;
}

/* Delivery */

.delivery {
    border: none;
    padding-left: 56px;
}

.sidebar_input_radio {
    display: none;
}

.sidebar_label_radio {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
}

.sidebar_label_radio:before,
.sidebar_label_radio:after {
    content: '';
    position: absolute;
    display: block;
}


.sidebar_label_radio:before {
    top: 0px;
    left: 0;
    border: 2px solid #C29974;
    border-radius: 50px;
    width: 20px;
    height: 20px;
}

.sidebar_label_radio:after {
    top: 4px;
    left: 4px;
    background: #C29974;
    border: 2px solid #C29974;
    border-radius: 50px;
    width: 12px;
    height: 12px;
    opacity: 0;
}

.sidebar_input_radio:checked + .sidebar_label_radio:after, 
.sidebar_label_radio:before {
    opacity: 1;
}

.sidebar_label_radio:hover {
    text-decoration-line: underline;
}

/* Amount */

.amount {
    display: inline-flex;
}

.amount_item {
    margin-top: 15px;
}

.amount_wrapper {
    padding-left: 8px;
}

.sidebar_input_amount {
    display: none;
}

.sidebar_label_amount {
	display: inline-flex;
	cursor: pointer;
    background: #FFFFFF;
	padding: 7px 19px;
	line-height: 22px;
    width: 80px;
    height: 35px;
	user-select: none;
}


.sidebar_input_amount:checked + .sidebar_label_amount {
	background: #F3D0DB;
}
 
.sidebar_label_amount:hover {
	background: #EDDEEB;
}
 
.sidebar_input_amount:disabled + .sidebar_label_amount {
	background: #908484;
}

.sidebar_btn {
    margin-top: 35px;
    margin-right: 83px;
}



